@font-face {
  font-family: arcade;
  src: url("../typo/ARCADECLASSIC.TTF")}
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: arcade;
}

.main{
  width: 100vw;
  height: 100vh;
  margin: 0%;
}
.back-splash,.back-gameOver{
  width: 100%;
  height: 100%;
  background-color: grey;
  text-align: center;
}
.h1-splash, .back-gameOver h1{
  padding-top: 10%;
  margin: 0 auto;
  position: relative;
}
.back-gameOver h1{
  font-size: 87px;
}
.back-gameOver h2{
  font-size: 44px;
}
.back-splash,  .back-gameOver{
  background-image: url(../img/background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.game__canvas {
  height: 100%;
}

canvas.canvas{
  background-image: url(../img/parking.png);
  background-size: cover;
}
.game-container{
  width: 100vw;
  height: 100vh;
}
.score{
  position: absolute;
}
.img-slash{
  width: 65%;
  height: auto;
  margin: 0 auto;
}
.btn-start, .btn-restart{
width: 30%;
margin: 0 auto;
background-color: black;
 color: #64FE2E;
 padding: 20px;
 font-family: arcade;
 font-size: 24px;
}
.score{
  padding-left: 3%;
}
.score span{
  font-size: 28px;
  color: white;
}